eth-hash==0.1.1
eth-utils==1.4.1
web3==4.8.1
rlp==0.6.0
# Kivy==1.10.1
# Kivy-Garden==0.1.4
# https://gitlab.com/kivymd/KivyMD/repository/archive.zip?ref=e81c02afbca915a4d71c85d3486f6710b53df2c1#egg=kivymd
Pillow==4.1.1
raven==6.1.0
# https://github.com/AndreMiras/garden.zbarcam/archive/20171220.zip
# qrcode==5.3
