Cython==0.25.2
# 2017/06/08 develop
https://github.com/ethereum/pyethereum/archive/0ae64823d1bccba9c8148adb462060cb83c08f06.zip
# 2017/06/10 develop
https://github.com/ethereum/pydevp2p/archive/cc68f6d69fa88ffaac6f8483392c37eb9f19d712.zip
# 2017/06/10 develop
https://github.com/ethereum/pyethapp/archive/409331e88a397ce5276c430aff4a8866d413e45d.zip
pyethash==0.1.27
# on Ubuntu 16.04 Xenial, the error:
# x11 - ImportError: No module named window_x11
# is fixed by installing kivy master
# https://github.com/kivy/kivy/archive/27e3b90eae2a0155b22a435f1b6f65c913519db6.zip
Kivy==1.10.0
Kivy-Garden==0.1.4
# 2017/06/08 master
https://gitlab.com/kivymd/KivyMD/repository/archive.zip?ref=7de5790274a45c4fa2fb9c6fcd875645e536c95b
Pillow==4.1.1
raven==6.1.0
